@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');


#navbar {
    width: calc(100% - 20px);
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

/* Links section */

.linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.link {
    margin: 0px 10px;
}

.link > a {
    color: inherit;
    text-decoration: none;
}