@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

#navbar {
    width: calc(100% - 30px);
    background-color: #00000000;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#icon {
}

#links {
    display:flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}

#links > li {
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#signUp{
    color: inherit;
    text-decoration:none;
    background-color: #8ba3ff;
}

#logout, #login, #signUp {
    margin: 0px 10px;
    padding: 10px 15px;
    border-radius: 40px;
    cursor: pointer;
}

#login {
    background-color: #ff5e60;
}