#signUpForm {
    background-color: rgba(10, 10, 10, 0.972);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    height: auto;
    width: auto;
    min-width: 300px;
    box-shadow: 0 0 50px 5px #d2d2d2;
}

#header {
    font-size: 30px;
}

#signUpInputs {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.inputContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.inputContainer > input {
    color: inherit;
    background: none;
    border: none;
    border-bottom: 2px solid #6b6b6b;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    padding-left: 0px;
    transition: all 200ms;
}

.inputContainer > input:focus {
    outline: none;
    border-bottom: 2px solid #e8e8e8;
}

.inputLabel {
    color: #bbbbbb;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputLabel > span {
    display: flex;
    align-items: center;
    font-size: 10px;
    gap: 5px;
    color:rgb(140, 140, 140);
}

.inputContainer > button {
    padding: 8px;
    border-radius: 25px;
    outline: none;
    border: none;
}