:root {
  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
  --rt-transition-show-delay: 0.15s;
  --rt-transition-closing-delay: 0.15s;
  --font-color: #ededed;
  --bg-color: #000000;
}

* {
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: var(--font-color);
  background-color: var(--bg-color);
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  background: rgba(0, 128, 0, 0);
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}