#main {
  height: calc(100vh - 143px);
  width: calc(100% - 40px);

  /* background-color: #d7e5f0; */
  background-image: url('../../public/blurry-gradient-haikei.svg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 20px;
}
.heroText{
  width: 100%;
  margin-top: 140px;

  text-align: center;
  font-size: 50px;

  background: linear-gradient(to right, #5e54ea, #ff6e64, #5e54ea);
  background-size:200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: textclip 3s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center
  }
}

.join {
  margin-top: 15px;
  padding: 10px 20px;

  outline: none;
  border: 2px solid #e6e6e6;
  border-radius: 4px;

  background-color: #00000000;

  font-family: 'Inclusive Sans';
  font-size: 15px;
  color: hsl(0, 0%, 93%);

  transition: all 0.2s ease 
}

.join:hover {
  background-color: #d7d7d7;
  color: #181818
}