/* Homepage wrapper */
#backgroundImage {
    position: absolute;
    height: 99.9vh;
    width: 100%;
    background-image: url("/rollsroycephantom.jpg"); 
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

#backgroundImage2 {
    position: absolute;
    height: 99.9vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.5) 100%);
    z-index: -1;
    animation: animateBg 5100ms ease-in-out;
    opacity: 1;
}

#navbar {
    position: absolute;
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

@keyframes animateBg {
    0% {
        background-color: #000000ff;
        opacity: 1;
    }
    50% {
        background-color: #000000ff;
        opacity: 1;
    }
    100% {
        background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.5) 100%);
    }
} 

#homePage {
    width: 100%;
}
/* Hero section */
#hero {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 150px;
    min-height: 5em;
    width: calc(100% - 150px);
    font-size: 3.5rem;
    
}

.reveal {
    font-weight: 550;
    stroke: 1px solid #121212;
    width: max-content;
    color: #46454500;
    --g: linear-gradient(rgb(255, 255, 255) 0 0) no-repeat;
    background: var(--g),var(--g);
    background-size: 0% 100%;
    -webkit-background-clip: padding-box,text;
            background-clip: padding-box,text;
    animation: 
      t 1s 0.5s both,
      b 1s 1.3s both;
}

.reveal2 {
    text-shadow: 0 0 30px 20px #eaeaea;
    font-weight: 600;
    width: max-content;
    color: rgba(130, 130, 130, 0);
    --g: linear-gradient(147deg, #ffffff 0%, rgb(53, 53, 53) 90%) no-repeat;
    --g-2: linear-gradient(rgb(255, 255, 255) 0 0) no-repeat;
    background: var(--g-2),var(--g);
    background-size: 0% 100%;
    -webkit-background-clip: padding-box,text;
            background-clip: padding-box,text;
    animation:
    t 1.4s 1.4s both,
    b 1.4s 2.5s both;
}
  
@keyframes t{
    to {background-size: 150% 100%} 
}

@keyframes b {
    to {background-position:-200% 0,0 0}
}