#header {
    height: 100px;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

#section {
    height: calc(100% - 100px);
    max-height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#formContainer {
    height: 100%;
    max-height: 100%;
    width: calc(75% - 40px);
    padding: 0px 20px 0px 20px;
    border-radius: 20px 20px 0px 0px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 10px 20px;
    align-items: center;
    background-color: #1a1a1a;
    width: calc(75% - 40px);
    border-radius: 20px;
    
}

#headBar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#inputs {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #000000;
    padding: 30px;
    border-radius: 20px;
}

.inputContainer {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.inputContainer > input {
    color: var(--font-color);
    background: none;
    border: none;
    border-bottom: 2px solid #6b6b6b;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    padding-left: 0px;
    transition: all 200ms;
}

.inputContainer > input:focus {
    outline: none;
    border-bottom: 2px solid #e8e8e8;
}

.inputContainer > select {
    color: var(--font-color);
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #6b6b6b;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    padding-left: 0px;
    transition: all 200ms;
}

.inputContainer > select > option {
    color: white;
    background-color: var(--bg-color);
}

.inputContainer > select > option::selection {
    color: green
}

.inputLabel {
    color: #bbbbbb;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputLabel > span {
    display: flex;
    align-items: center;
    font-size: 10px;
    gap: 5px;
    color:rgb(140, 140, 140);
}

.inputLabel > span > svg {
    height: 15px;
    width: 15px;
}

.validation {
    font-size: 10px;
    color:#a4a4a4 ; 
}

.validation > span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.inputContainer > button {
    margin-top: 10px;
    padding: 8px;
    border-radius: 25px;
    outline: none;
    border: none;
}